.own-table{
    color:black;
    border: 1px solid #4b9244;
}

.own-table .thead-dark th{
    color: #fff;
    background-color: #4b9244;
    border-color: #4b9244;
}

.own-table td, .own-table tr, .own-table th{
    border-color: #4b9244;
}

.own-table tr:hover{
    background-color: #58c34d;
    color: white;
    transition: all .4s;
    cursor: pointer;
}

.btn-outline-secondary:hover{
    color: #fff;
    background-color: #4b9244;
    border-color: #4b9244;
}

.form-control:disabled, .form-control[readonly] {
    color: white;
}

.btn-outline-secondary {
    width: 150px;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #2e3035; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #4b9244; 
    border: 1px solid #2e3035;
}


/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff; 
}

@media (max-width: 600px) {
    .btn-outline-secondary {
        width: 80px;
    }
}